<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <label style="font-size: 50px; margin-top: -28px; margin-bottom: -12px;">🗊<label style="font-size: 30px;">Tareas</label></label>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" *ngIf="(accountService.user$ | async) !== null">
              <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
              <a class="nav-link" routerLinkActive="active" routerLink="/tasks">Tareas</a>
              <a class="nav-link"  (click)="logout()">Cerrar sesión</a>
            </div>
            <div class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
              <a class="nav-link" routerLinkActive="active" routerLink="/account/login">Iniciar sesión</a>
              <a class="nav-link" routerLinkActive="active" routerLink="/account/register">Registrarse</a>
            </div>
          </div>
        </div>
      </nav>
</header>