<section class=" bsb-section-py-xxl-1">
    <div class="container mb-5 mb-md-6 mb-xl-10">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 text-center">
          <h2  *ngIf="(accountService.user$ | async) as user" class="fw-bolder mb-4">Hola <mark class="bsb-tpl-highlight bsb-tpl-highlight-yellow">{{ obtenerNombreUsuario }}</mark>, estas son tus tareas: </h2>
        </div>
      </div>
    </div>


    <div class="container mb-5 mb-md-6 mb-xl-10" *ngIf="taskResponse != undefined and taskResponse != []">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Completada</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of taskResponse; let i = index">
                <td>{{i}}</td>
                <td>{{item.title}}</td>
                <td>{{item.detail}}</td>
                <td>{{item.dueDate | date : 'longDate'}}</td>
                <td>{{item.isComplete ? "Sí" : "No"}}</td>
                <td>
                  <button class="btn btn-outline-dark me-1" data-bs-toggle="modal" data-bs-target="#modalEditar" (click)="mapUpdateData(item)">
                    <img src="../../../assets/img/editing.png" width="20px" alt="editar">
                  </button>
                  <button class="btn btn-outline-dark" (click)="confirmarEliminar(item)">
                    <img src="../../../assets/img/trash.png" width="20px"  alt="eliminar">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container mb-5 mb-md-6 mb-xl-10">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 text-center">
          <button class="btn btn-outline-dark me-1 w-100" data-bs-toggle="modal" data-bs-target="#modalCrear" (click)="resetForm()">
            Crear tarea
          </button>
        </div>
      </div>
    </div>
</section>

<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar tarea</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
          <form [formGroup]="taskForm" (ngSubmit)="update()" autocomplete="off">
            <div class="row gy-3 overflow-hidden">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input formControlName="title" type="text" class="form-control" name="title" id="title" required>
                  <label for="title" class="form-label">title</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input formControlName="detail" type="text" class="form-control" name="detail" id="detail" required>
                  <label for="detail" class="form-label">Descripcion</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input formControlName="dueDate" type="date" class="form-control" name="detail" id="detail" required>
                  <label for="dueDate" class="form-label">Fecha de vencimiento</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check form-switch">
                  <input class="form-check-input"  formControlName="isComplete" value="false" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Tarea finalizada</label>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-dark btn-lg" data-bs-dismiss="modal"  type="submit">Guardar</button>
                </div>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="modalCrear" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear tarea</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
          <form [formGroup]="taskForm" (ngSubmit)="create()" autocomplete="off">
            <div class="row gy-3 overflow-hidden">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input formControlName="title" type="text" class="form-control" name="title" id="title" required>
                  <label for="title" class="form-label">title</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input formControlName="detail" type="text" class="form-control" name="detail" id="detail" required>
                  <label for="detail" class="form-label">Descripcion</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input formControlName="dueDate" type="date" class="form-control" name="detail" id="detail" required>
                  <label for="dueDate" class="form-label">Fecha de vencimiento</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check form-switch">
                  <input class="form-check-input"  formControlName="isComplete" value="false" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Tarea finalizada</label>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-dark btn-lg" data-bs-dismiss="modal" type="submit">Guardar</button>
                </div>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarModal()">Close</button>
      </div>
    </div>
  </div>
</div>